---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Dylan Reed | Creative Repository'>
  <main class='p-12 flex flex-col gap-6'>
    <ul role='list' class='masonry-grid'>
      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='in' dir='ltr'>
          Introducing Gymlink 🚀<br /><br />cc: <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://twitter.com/FarzaTV?ref_src=twsrc%5Etfw'>@FarzaTV</a>
          <a href='https://twitter.com/alec_dilanchian?ref_src=twsrc%5Etfw'
            >@alec_dilanchian</a
          >
          <a href='https://twitter.com/_nightsweekends?ref_src=twsrc%5Etfw'
            >@_nightsweekends</a
          > @Gymlink_app <a href='https://t.co/nfpfO5z4tF'
            >pic.twitter.com/nfpfO5z4tF</a
          >
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1648816634566434817?ref_src=twsrc%5Etfw'
          >April 19, 2023</a
        >
      </blockquote>

      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='en' dir='ltr'>
          Download Gymlink on iOS now. 🚀<a href='https://t.co/CoIDetwbaN'
            >https://t.co/CoIDetwbaN</a
          ><br /><br />cc: <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://twitter.com/FarzaTV?ref_src=twsrc%5Etfw'>@FarzaTV</a>
          <a href='https://twitter.com/alec_dilanchian?ref_src=twsrc%5Etfw'
            >@alec_dilanchian</a
          >
          <a href='https://twitter.com/_nightsweekends?ref_src=twsrc%5Etfw'
            >@_nightsweekends</a
          > @Gymlink_app <a href='https://t.co/hefDNNEA9y'
            >pic.twitter.com/hefDNNEA9y</a
          >
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1649123664548200461?ref_src=twsrc%5Etfw'
          >April 20, 2023</a
        >
      </blockquote>
      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='en' dir='ltr'>
          will see you in sf <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://twitter.com/_nightsweekends?ref_src=twsrc%5Etfw'
            >@_nightsweekends</a
          >
          <a href='https://twitter.com/FarzaTV?ref_src=twsrc%5Etfw'>@FarzaTV</a>
          <a href='https://twitter.com/alec_dilanchian?ref_src=twsrc%5Etfw'
            >@alec_dilanchian</a
          >
          <a href='https://t.co/2iSmERXloZ'>pic.twitter.com/2iSmERXloZ</a>
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1657910302644617216?ref_src=twsrc%5Etfw'
          >May 15, 2023</a
        >
      </blockquote>
      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='en' dir='ltr'>
          spreading the word 🚀 @Gymlink_app <a
            href='https://twitter.com/Kahronsmith?ref_src=twsrc%5Etfw'
            >@kahronsmith</a
          >
          <br /><br />cc: <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://twitter.com/FarzaTV?ref_src=twsrc%5Etfw'>@FarzaTV</a>
          @ser_ando <a
            href='https://twitter.com/alec_dilanchian?ref_src=twsrc%5Etfw'
            >@alec_dilanchian</a
          >
          <a href='https://twitter.com/_nightsweekends?ref_src=twsrc%5Etfw'
            >@_nightsweekends</a
          >
          <a href='https://t.co/6fZq0TSUZD'>pic.twitter.com/6fZq0TSUZD</a>
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1658918512792948736?ref_src=twsrc%5Etfw'
          >May 17, 2023</a
        >
      </blockquote>
      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='en' dir='ltr'>
          our journey so far. <br /><br />@Gymlink_app <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://t.co/1ld1cR4ZCt'>pic.twitter.com/1ld1cR4ZCt</a>
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1666592495256457216?ref_src=twsrc%5Etfw'
          >June 7, 2023</a
        >
      </blockquote>
      <blockquote class='twitter-tweet masonry-grid-item' data-theme='dark'>
        <p lang='en' dir='ltr'>
          day 9... 🚀<br /><br />let&#39;s just say lifting together is fun 😈 <a
            href='https://twitter.com/_gymlink?ref_src=twsrc%5Etfw'>@_gymlink</a
          >
          <br /><br />cc: <a
            href='https://twitter.com/_buildspace?ref_src=twsrc%5Etfw'
            >@_buildspace</a
          >
          <a href='https://t.co/2ZqfPsWELe'>pic.twitter.com/2ZqfPsWELe</a>
        </p>&mdash; dylan (@dylanreedx) <a
          href='https://twitter.com/dylanreedx/status/1691222795949162497?ref_src=twsrc%5Etfw'
          >August 14, 2023</a
        >
      </blockquote>
    </ul>
    <ul class='grid grid-cols-1 md:grid-cols-3 gap-4'>
      <iframe
        class='aspect-video w-full h-full rounded-lg'
        src='https://www.youtube.com/embed/sU-e65QdGUc?si=pz3k5TXGQ5eCk7Nh'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
      <iframe
        class='aspect-video w-full h-full rounded-2xl'
        src='https://www.youtube.com/embed/10U7wwcVBLE?si=uUFDveDxh9axmqgP'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
      <iframe
        class='aspect-video w-full h-full rounded-2xl'
        src='https://www.youtube.com/embed/ylbGivBE_SI?si=g2GsEURudbw3peph'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
      <iframe
        class='aspect-video w-full h-full rounded-2xl'
        src='https://www.youtube.com/embed/JpNeJFArcA4?si=ZmujEQeHWYmdy43w'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
      <iframe
        class='aspect-video w-full h-full rounded-2xl'
        src='https://www.youtube.com/embed/7AE9MJvgLQc?si=4h9vjonl2KW5zeU6'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
    </ul>
  </main>
</Layout>

<style>
  /* Default to one column on small screens */
  .masonry-grid {
    column-count: 1;
    column-gap: 1rem;
  }

  /* On medium screens (md: breakpoint at 768px by default), use 2 columns */
  @media (min-width: 768px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  /* On large screens (lg: breakpoint at 1024px by default), use 3 columns */
  @media (min-width: 1024px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  .masonry-grid-item {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
</style>
